---
import Nav_light from "../components/Nav_light.astro";
import Footer from "../components/Footer.astro";
import { Image, Picture } from "@astrojs/image/components";
import "../stylesheets/global.css";
import video from "../assets/video/banner_vid.mp4";
import heroIndex from "../assets/icons/jouxli_index.svg";
---

<script src="../scripts/menu.js"></script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <header>
      <Nav_light />
    </header>
    <main>
      <div id="wrapper">
        <Image src={heroIndex} alt="jouxli banner text" format={"svg"} width={910} height={328} />
      </div>
      <video autoplay muted loop preload="auto">
        <source src={video} type="video/mp4" />
      </video>
    </main>
    <Footer />
  </body>
</html>
<style>
  video {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
  }
  img {
    margin: 10em 0 11em 0;
  }
</style>
