---
import Nav_dark from "../components/Nav_dark.astro";
import Footer from "../components/Footer_dark.astro";
import { Image, Picture } from "@astrojs/image/components";
import "../stylesheets/global.css";
---

<script src="../scripts/menu.js"></script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <header>
      <Nav_dark />
    </header>
    <main>
      <div id="wrapper">
        <h1>hej</h1>
      </div>
      <Footer />
    </main>
  </body>
</html>
