---
import "../stylesheets/global.css";
import { Image, Picture } from "@astrojs/image/components";
import iconFace from "../assets/icons/facebook-dark.svg";
import iconInsta from "../assets/icons/instagram-dark.svg";
---

<footer>
  <div class="footer1">
    <h3>ADRESSE</h3>
    <p>Jægersborg Allé 1G</p>
    <p>2920 Charlottenlund</p>
  </div>
  <div class="footer_icons">
    <Image src={iconFace} alt="logo" width={51} height={53} format={"svg"} />
    <Image src={iconInsta} alt="logo" width={51} height={53} format={"svg"} />
  </div>
</footer>

<style>
  h3 {
    font-size: 1.4rem;
    color: var(--darkbrown);
  }

  p {
    font-size: 1rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;
    z-index: 1;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
  }

  .footer1 {
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    color: var(--darkbrown);
    margin-left: 20px;
  }

  .footer_icons {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    gap: 10px;
  }

  .facebook_icon {
    margin-right: 10px;
  }

  @media (min-width: 1000px) {
    .footer_icons, .footer1 {
    margin-right: 0px;
    margin-left: 0px;
    }

  }
  
</style>
