---
import "../stylesheets/global.css";
import { Image, Picture } from "@astrojs/image/components";
import iconFace from "../assets/icons/facebook-dark.svg";
import iconInsta from "../assets/icons/instagram-dark.svg";
---

<footer>
  <div class="footer1">
    <p>ADRESSE</p>
    <p>Jægersborg Allé 1G</p>
    <p>2920 Charlottenlund</p>
  </div>
  <div class="footer_icons">
    <Image src={iconFace} alt="logo" width={51} height={53} format={"svg"} />
    <Image src={iconInsta} alt="logo" width={51} height={53} format={"svg"} />
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;
    z-index: 1;
  }

  .footer1 {
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    color: #3f352c;
    margin-left: 20px;
  }

  .footer_icons {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
  }

  .facebook_icon {
    margin-right: 10px;
  }
</style>
