---
import "../stylesheets/global.css";
import { Image, Picture } from "@astrojs/image/components";
import iconFace from "../assets/icons/facebook-light.svg";
import iconInsta from "../assets/icons/instagram-light.svg";
---

<footer>
  <div class="footer1">
    <p>ADRESSE</p>
    <p>Jægersborg Allé 1G</p>
    <p>2920 Charlottenlund</p>
  </div>
  <div class="footer_icons">
    <Image src={iconFace} alt="logo" width={50} format={"svg"} class="facebook_icon"/>
    <Image src={iconInsta} alt="logo" width={50} format={"svg"} />
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;

  }

  .footer1 {
    font-family: "Heebo", sans-serif;
    font-size: 25px;
    color: #f2e5d5;
  }

  .footer_icons {
    display: flex;
    align-items: flex-end;
  }

  .facebook_icon {
    margin-right: 10px;
  }

</style>
